<p>

    {{burger_name}}
    <button type="button" class="btn btn-primary eat" data-id="{{id}}" data-eat="{{devoured}}">
    {{#if devoured}}eat{{else}}dont{{/if}}
    </button>
    <button type="button" class="btn btn-primary delete" data-id="{{id}}" data-eat="{{devoured}}"> Delete </button>
</p>