<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            <h1 class="display-3">Burgers</h1>
            <p class="lead">Testing Handlebars - enter a burger and eat it</p>
            <hr class="my-2">
          
           
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="form-inline new-burger">
                <input class="form-control mr-sm-2 burger-name" type="text" placeholder="Enter a burger name">
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Submit</button>
            </form>

        </div>

    </div>



    <div class="row">

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Created burgers
                </div>
                <div class="card-body">
                    {{#each burger}} {{#unless devoured}} {{> burger-block devoured=true}} {{!--
                    <p>

                        {{burger_name}}
                        <button type="button" class="btn btn-primary eat" data-id="{{id}}" data-eat="{{> devoured=false}}">Eat</button>
                        <button type="button" class="btn btn-primary delete" data-id="{{id}}" data-eat="{{devoured}}"> Delete
                        </button>
                    </p> --}} {{/unless}} {{/each}}
                </div>

            </div>
        </div>


        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    {{#each burger}} {{#if devoured}} {{> burger-block devoured=false}} {{!--
                    <p>
                        {{burger_name}}
                        <button type="button" class="btn btn-primary dont" data-id="{{id}}" data-eat="{{devoured}}"> dont</button>
                        <button type="button" class="btn btn-primary delete" data-id="{{id}}" data-eat="{{devoured}}"> Delete
                        </button>

                    </p> --}} {{/if}} {{/each}}
                </div>
            </div>
        </div>
    </div>


</div>

{{!--
<div class="input-group">
    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-append">
        <button class="btn btn-success" type="button">Love it</button>
    </div>
</div> --}}

</div>